@import 'tailwindcss';

@theme {
  --font-italiana: 'Italiana', serif;
  --font-outfit: 'Outfit', sans-serif;
  --font-poiretOne: 'Poiret One', serif;
  --font-hostGrotesk: 'Host Grotesk', serif;
  --font-windSong: 'WindSong', serif;

  --shadow-title: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  --color-primary: #ff0cc2;
  --color-secondary: #694bb2;
  --color-tertiary: #4d9aff;

  --animate-spin: spin 7s linear infinite;

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}

@layer components {
  .content-overlay {
    position: relative;
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(5px);
    margin-top: 0;
    width: 100%;
  }

  .grid220 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }

  .grid300 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .screen800 {
    width: min(92%, 800px);
    margin-inline: auto;
  }

  .screen1000 {
    width: min(92%, 1000px);
    margin-inline: auto;
  }

  .screen1600 {
    width: min(92%, 1600px);
    margin-inline: auto;
  }

  .screen {
    width: 100vw;
    height: 100vh;
  }

  .full {
    width: 100%;
    height: 100%;
  }

  .fit {
    width: fit-content;
    height: fit-content;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .glass {
    @apply bg-white/40 backdrop-blur-xs;
  }

  .glass-dark {
    @apply bg-black/50 backdrop-blur-xl;
  }

  .background-video {
    @apply absolute top-0 left-0 w-full h-full object-cover;
  }

  .artist-photo {
    width: 250px;
    height: 250px;

    @media screen and (max-width: 768px) {
      width: 220px;
      height: 220px;
    }
  }

  .sideways {
    writing-mode: sideways-lr;
  }

  .flexrow-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flexcol-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .flexcol {
    display: flex;
    flex-direction: column;
  }

  .absolute-top-left {
    position: absolute;
    top: 0;
    left: 0;
  }

  .absolute-top-center {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .absolute-top-right {
    position: absolute;
    top: 0;
    right: 0;
  }

  .absolute-middle-left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .absolute-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .absolute-middle-right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  .absolute-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .absolute-bottom-center {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .absolute-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .fixed-top-left {
    position: fixed;
    top: 0;
    left: 0;
  }

  .fixed-top-center {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .fixed-top-right {
    position: fixed;
    top: 0;
    right: 0;
  }

  .fixed-middle-left {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .fixed-middle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .fixed-middle-right {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  .fixed-bottom-left {
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .fixed-bottom-center {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .fixed-bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
  }
}
